:root {
  --primaryRedColor: #e53935;
  --secondaryRedColor: #af4f4f;
  --greyColor: #ececec;
  --blueColor: #1565c0;
  --primaryWhiteColor: #ffffff;
  --greyBgColor: #efefef;
  --primaryBlackColor: #000000;
  --secondaryBlackColor: #212529;
  --greenColor: #6d9d3e;
  --secondaryGreenColor: #8aa936;
  --errorColor: #e74a3b;
  --warningColor: #f6c23e;
  --successColor: #3cbc81;
}
:root {

  
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: "Fredoka", sans-serif ;
  background: linear-gradient(135deg, #ff4b2b, #1565c0);
  color: var(--primaryWhiteColor);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

/* Reset anchor styles */
a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}
/* Make images and embedded objects responsive */
img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select {
  font: inherit;
}

h2{
  font-size: 32px;
}
/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.dropdown-toggle::after{
display: none !important;
}
.dropdown-menu{
  background-color: var(--blueColor) !important;
  color: var(--primaryWhiteColor) !important;
}
.mainSection{
  padding-top: 120px;
}
.modal-content{
  background: linear-gradient(135deg,#1565c0, #ff4b2b );

}