
  

  
  .questionContainer {
    position: fixed;
    z-index: 99999;
    display: flex;
    gap: 20px;
    cursor: pointer;
  }
  
  .question {
    font-size: 5rem;
    font-weight: bold;
    color: #333;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
    user-select: none;
  }