/* LIST */
.quizList{
    border: 3px solid var(--greenColor);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr ;
    grid-gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;

}
.catalogTitle{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;

}
/* Item STAR */
.quizImage{
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    aspect-ratio: 1.78;
}
.quizImageHovered{
    transform: translateY(-105%);
}
.quizTitleStart{
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: center;
    width:  100%;
    transition: all 300ms ease-in-out;
    position: absolute;
    bottom: 5px;
    left: 0;
}
.quizTitleHovered{
    transform: translateY(105%);
}

/* LIST Item Hovered  */
.quizListItem{
    height: 280px;
    width: 350px;
    background-color: var(--greenColor);
    background: linear-gradient(135deg, #28a745, #218838);

    color: var(--primaryWhiteColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2),  inset 0 0 8px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.quizListItemBody{
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.quizListItem:hover .quizListItemBody {
    opacity: 1; 
  }

.quizTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 340px; 
    cursor: pointer;
    text-decoration: underline;
transition: color 0.3s ease-in-out;

}
.quizTitle:hover,
.quizTitle:focus{
    color: var(--blueColor)
}